div {
    width: 30%;
    float: left;
    margin : 15px;
    border: solid 5px black;
    padding: 10px;
    box-sizing: border-box;
    background : gray;
    font-size: 24px;
}

h1{
    text-align: center;
}

#top1{
    float: right;
    padding: 5px;
    text-align: center;
    background: palevioletred;
    position:relative;
}

#top2{
    float: right;
    padding: 5px;
    text-align: center;
    background: red;
    color: white;
}

#top3{
    float: right;
    padding: 5px;
    text-align: center;
    background: yellow;
}

span{
    float: left;
}

@media (min-width : 768px) and (max-width : 992px){
    #one{
        float: left;
        width: 45%;
    }
    #two{
        float: left;
        width: 45%;
    }
    #three{
        float: bottom;
        width: 93%;
    }
}

@media (max-width : 767px){
    #one{
        float: bottom;
        width: 93%;
    }
    #two{
        float: bottom;
        width: 93%;
    }
    #three{
        float: bottom;
        width: 93%;
    }
}